* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    color: white;
    background:url("../images/bg.jpg") top center;
    background-size: cover;
}
a {
    text-decoration: none;
    color: white;
}
ul li {
    list-style: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearFixed:after {
    content: "";
    display: block;
    clear: both;
}
img{
    border:0;
}

/*banner start*/
.banner{width:100%;}
.banner .b_box{
    position: relative;
    width: 1000px;
    height: 320px;
    margin: 250px auto 0;
    background: rgba(0, 0, 0,.5);
}
.banner .b_box .b_info{
    position: absolute;
    left: 56px;
    bottom: 0;
    width: 680px;
    height: 310px;
}
.banner .b_box .b_info p{
    width: 260px;
    height: 40px;
    border-radius: 3px;
    float: left;
    margin: 15px 45px 0 0;
}
.banner .b_box .b_info p span{
    width: 50px;
    height: 40px;
    float: left;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 3px 0 0 3px;
}
.banner .b_box .b_info p input{
    border: none;
    width: 180px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    border-radius: 3px;
    background:rgba(255,255,255,0.8);
    margin-top: 5px;
    outline: none;
}
.banner .b_box .b_info p.b_login {
    width:445px;
    height:40px;
    margin-top:25px;
    padding-left:70px;
}
.banner .b_box .b_info p.b_login a{
    width:445px;
    height:40px;
    text-align: center;
    display:block;
    background:#44b549;
    border-radius:3px;
    line-height: 40px;
    font-weight: bold;
}
.banner .b_box .b_info p.b_login a:hover{
    background:#3C9D41;
}
.banner .b_box .b_qrcode{
    position:absolute;
    overflow: hidden;
    top:20px;
    right:50px;
    width:256px;
    height:256px;
    background: white;
    border:1px solid #ddd;
    color:#666;
    text-align:center
}
.banner .b_box .b_qrcode p{
    position: absolute;
    top: 100px;
    right: 65px;
    z-index: 0;
}
/*end banner*/