* {
                          margin: 0;
                          padding: 0;
                      }
body {
    font-size: 16px;
    color: #fff;
    background-color: #222222;
    text-align: center;
    user-select: none;
}
a {
    text-decoration: none;
    color: #000;
}
ul li {
    list-style: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearFixed:after {
    content: "";
    display: block;
    clear: both;
}
h3{
    font-family: "Adobe 楷体 Std R",serif;
    font-size: 56px;
    height: 80px;
    line-height: 80px;
    margin: 50px 0 20px;
    text-shadow: 0 1px 0 rgba(59, 63, 69, 0.89);
}
#bg-wrap{
    position: relative;
    overflow: hidden;
    height: 420px;
    width: 100%;
    box-shadow: 0 0 7px #000000;
    border-top: 7px solid #333333;
    border-bottom: 7px solid #333333;
    margin: 0 auto;
}
#bg div {
    position: absolute;
    left: 0;
    top: 0;
    height: 420px; /*这里还不能是100% 会出现图片出不来的现象*/
    background-color: transparent;
    background-position: left top;
    background-repeat: repeat;
    background: url("../images/bg.png");
}
#bg .bg1{
    background: url("../images/bg1.png");
}
#bg .bg2{
    background: url("../images/bg2.png");
}
#bg .bg3{
    background: url("../images/bg3.png");
}
#box .slider{
    position: absolute;
    top: 0;
    left: 0;
}
#box .slider>li{
    position: relative;
    float: left;
    height: 420px;
}
#box .slider>li img{
    border: 8px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 7px #222222;
    display: block;
    margin: 35px auto 0;
}
#btn div{
    position: absolute;
    top: 145px;
    width: 30px;
    height: 60px;
    box-shadow: 0 0 2px #000000;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 4px
}
#btn .prev{
    background:black url("../images/prev.png") no-repeat center;
}
#btn .next{
    background:black url("../images/next.png") no-repeat center;
}
#box .thumb {
    position: absolute;
    left: 50%;
    top: 320px;
    height: 35px;
    width: 760px;
}
#box .thumb>li {
    position: absolute;
    display: block;
    width: 83px;
    height: 55px;
}
#box .thumb>li img {
    display: block;
    opacity: 0.7;
    box-shadow: 1px 1px 7px #555555;
    border: 5px solid #ffffff;
    cursor: pointer
}
